
header {
	background-color: #393e46;
	position: fixed;
	top: 10px;
	left: 150px;
	right: 150px;
	z-index: 1000;
	padding: 0.5rem 1rem;
	transition: all 0.3s ease;
	border: solid 3px #222831;
	border-radius: 50px; 

}

nav {

	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
}

.logo img { 
	height: 50px;
	width: auto;
	border-radius: 15px;

}
.nav-links{
	list-style: none;
	margin: 0px;
	display: flex;
	gap: 35px;
}
.nav-links a {
	color: #d3d6db;
	text-decoration: none;
	font-weight: 500;
	font-size: 1rem;
	transition: opacity 0.3s ease;
	position: relative;


	a:link{
		color: #d3d6db;
	}
	a:visited {
	color: #d3d6db;
	}
	a:hover {
	color: #f96d00;
	}
	a:active {
	color: #d3d6db;
	}

}


.head {
	background: #222831;
	text-align: center;
	font-size: 20px;
	border-width:3px ;
	border-color: #f96d00;
	border-style: solid;
	border-radius: 10px;
	margin-top: 100px;
}
.manuimg{
	display: flex;
	justify-content: center;
}

.line-container {
	color: #888888;
	display: flex;
	flex-direction:column;
	justify-content: start;
	width: 100%;
	text-align: left;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.pipe-animation{
	animation: blink 1s step-end infinite;
}

.line-number {
	display: flex;
	gap: 35px;
	font-size: 25px;
	flex-direction: row;
	
}

.line-content h1 {
	display: inline;
	color: rgb(237, 78, 255);
	font-size: 25px;
	height: 0;
	margin: 0;
}

.line-container p {
	font-size: 25px;
	height: 0;
	margin: 0;

}

.var-color{
	color: rgb(61, 61, 252);
}

.equal-color{
	color: rgb(67, 255, 20);
}

.ex-color{
	color: orange;
}

.text-color{
	color: white;
}

.varname-color{
	color: rgb(237, 78, 255);
}

.body {
	background-color: #222831;
	color: #f2f2f2;
	font-family: monospace;


	a:link {
	color: #d3d6db;
	}
	a:visited {
	color: #d3d6db;
	}
	a:hover {
	color: #f96d00;
	}
	a:active {
	color: #d3d6db;
	}
}



.git {
	background: #222831;
	color: #f96d00;
	text-align: center;
	font-size: 27px;
	border-width:3px ;
	border-color: #f96d00;
	border-style: solid;
	border-radius: 10px;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 3%;
	display: flex;
	justify-content: start;
	gap: 5%;
	align-items: center;
	min-width: 600px;
	}

.bouton_git{
	justify-content: center;
	background-color: #f96d00;
	border : 2px solid #222831;
	font-size: large;
	border-radius: 10px;
	padding: 20px;
	text-decoration: none;
	margin: 30px;
	display: flex;
	font-size: xx-large;

}
.text-git {
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-git{

	margin-right: 0%;
	margin-bottom: 4.5%;
	margin-top: 4.5%;
	margin-left: 40%;


}
.big-git {
	background-color: #393e46;
	border: solid 3px #f96d00;
	border-left: none;
	border-right: none;
	margin-top: 3%;
	margin-bottom: 3%;
	display: flex;
}



.my-creations {
	


}
